.block{
    min-width: 40px;
    height: 30px;
    border: 1px solid black;
    display: inline-block;
    padding: 0 10px;
}
.wrong{
    background-color: red;
}
.correct{
    background-color: green;
}